* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    margin: 0;
}

body {
    --bg-color: rgb(240, 240, 240);
    background-color: var(--bg-color);
}

.flex-container {
    display: flex;
}

.grid-container {
    display: grid;
}

#project-container {
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.header {
    font-size: 3em;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: white;
    box-shadow: 0 0 10px lightgray;
}

#content {
    padding: 50px;
}

.project-card {
    --spacing: 5px;
    --card-height: 500px;
    height: var(--card-height);
    width: calc(var(--card-height) - 100px);
    background-color: white;
    border-radius: 18px;
    box-shadow: 0 0 10px lightgray;
    flex-direction: column;
    align-items: stretch;
    padding: 10px;
    padding-top: 0px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none; 
    border-bottom: solid white 10px;
}

.project-card::-webkit-scrollbar {
    display: none;
}

#new-project-card {
    --card-bg-color: white;
    position: relative;
    border: solid 12px white;
    background-color: var(--card-bg-color);
}

#new-project-card:hover {
    --card-bg-color: var(--bg-color);
}

#plus-horizontal, #plus-vertial {
    position: absolute;
}

#plus-horizontal {
    top: 230px;
    left: 0;
    right: 0;
    margin-inline: auto;
    width: 200px;
    height: 15px;
    background-image: linear-gradient(to right, var(--card-bg-color), lightgray 5% 95%, var(--card-bg-color));
}

#plus-vertial {
    top: 138px;
    left: 0;
    right: 0;
    margin-inline: auto;
    height: 200px;
    width: 15px;
    background-image: linear-gradient( var(--card-bg-color) , lightgray 5% 95%, var(--card-bg-color));
}

.project-name {
    position: sticky;
    top: 0px;
    padding-top: 10px;
    background-color: white;
    text-align: center;
    padding-bottom: var(--spacing);
    margin-bottom: var(--spacing);
}

.project-name, .entry-description{
    border-bottom: 1px solid lightgrey;
}

.entry-container {
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 5px;
    padding-right: 5px;
}

.entry-description {
    grid-column: span 3;
    margin-top: var(--spacing);
    padding-bottom: var(--spacing);
}

.entry-date {
    text-align: center;
}

.entry-priority {
    text-align: right;
}

.entry-name, .entry-date, .entry-priority {
    font-weight: 500;
}