* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    margin: 0;
}

body {
    --border-radius: 18px;
    --bg-color: rgb(240, 240, 240);
    background-color: var(--bg-color);
    position: relative;
}

.flex-container {
    display: flex;
}

.grid-container {
    display: grid;
}

#project-container {
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.header {
    font-size: 3em;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: white;
    box-shadow: 0 0 10px lightgray;
}

#content {
    padding: 50px;
}

.project-card {
    --spacing: 5px;
    --card-height: 500px;
    height: var(--card-height);
    width: calc(var(--card-height) - 100px);
    background-color: white;
    border-radius: var(--border-radius);
    box-shadow: 0 0 10px lightgray;
    flex-direction: column;
    align-items: stretch;
    padding: 10px;
    padding-top: 0px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none; 
    border-bottom: solid white 10px;
}

.project-card::-webkit-scrollbar {
    display: none;
}

#new-project-card {
    --card-bg-color: white;
    position: relative;
    border: solid 12px white;
    background-color: var(--card-bg-color);
}

#new-project-card:hover {
    --card-bg-color: var(--bg-color);
}

#project-plus-horizontal, #project-plus-vertial {
    position: absolute;
}

#project-plus-horizontal {
    top: 230px;
    left: 0;
    right: 0;
    margin-inline: auto;
    width: 200px;
    height: 15px;
    background-image: linear-gradient(to right, var(--card-bg-color), lightgray 5% 95%, var(--card-bg-color));
}

#project-plus-vertial {
    top: 138px;
    left: 0;
    right: 0;
    margin-inline: auto;
    height: 200px;
    width: 15px;
    background-image: linear-gradient( var(--card-bg-color) , lightgray 5% 95%, var(--card-bg-color));
}

.project-name {
    position: sticky;
    top: 0px;
    padding-top: 10px;
    background-color: white;
    text-align: center;
    padding-bottom: var(--spacing);
    margin-bottom: var(--spacing);
}

.project-name, .entry-description{
    border-bottom: 1px solid lightgrey;
}

.entry-container {
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 5px;
    padding-right: 5px;
}

.entry-description {
    grid-column: span 3;
    margin-top: var(--spacing);
    padding-bottom: var(--spacing);
}

.entry-date {
    text-align: center;
}

.entry-priority {
    text-align: right;
}

.entry-name, .entry-date, .entry-priority {
    font-weight: 500;
}

#overlay-container {
    position: absolute;
    top: 0;
    background-color: #80808080;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

#project-input-container {
    background-color: white;
    width: 400px;
    height: 150px;
    border-radius: var(--border-radius);
    flex-direction: column;
    align-items: center;
}

input[type=text] {
    font-size: 1.8em;
    width: 300px;
    height: 35px;
    text-align: center;
    border: none;
    border-bottom: solid lightgray 2px;
    margin-top: 40px;
}

#project-name-input:focus-visible {
    outline: none;
}

#project-name-input:hover {
    background-color: var(--bg-color);
}

.submit-btn {
    width: 400px;
    height: 45px;
    background: none;
    border: none;
    border-top: solid lightgray 1px;
    margin-top: auto;
    font-size: 1.2em;
}

.submit-btn:hover {
    background-color: var(--bg-color);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.new-entry-button {
    --btn-bg-color: white;
    height: 50px;
    background-color: var(--btn-bg-color);
    border: none;
    border-radius: var(--border-radius);
    position: relative;
}

.new-entry-button:hover {
    --btn-bg-color: var(--bg-color);
}

#new-entry-plus-horizontal, #new-entry-plus-vertical {
    position: absolute;
    left: 0;
    right: 0;
    margin-inline: auto;
    background-image: linear-gradient(to right, var(--btn-bg-color), lightgray 5% 95%, var(--btn-bg-color));
}

#new-entry-plus-horizontal {
    width: 30px;
    height: 5px;
    top: 20px;
}

#new-entry-plus-vertical {
    width: 5px;
    height: 30px;
    top: 8px;
}